#this is a sample .env file for the backend of the application. You can copy this file and rename it to .env, then fill in the appropriate values for your environment.



PORT=3000
DB_URI=your_dtabase_URI_comes_here
JWT_SECRET=my_jwt_secret_key
JWT_EXPIRES_IN=1d
SALT_ROUNDS=12
COOKIE_EXPIRATION=7*24*60*60*1000 # 7 days in milliseconds
NODE_ENV=development

FRONTEND_URL=http://localhost:5173 # This should match the URL where your frontend is running, used for CORS and cookie settings.